.cusor-dot{
    width: 5px;
    height: 5px;
    background-color: #0a0efa;
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(246, 100%, 49%, 0.5);
    transition: 700ms;
}
.cusor-dot, .cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}
body{
    cursor: none;
}